.bg-black {
    background-color: black;
    color: white;
}
.display-6 {
    font-size: calc(0.8rem + 1vw);
}

.text-roxo {
    color: rgb(173, 84, 173);
}
.bg-roxo {
    background-color: rgb(173, 84, 173);
    color: 000;
}
.active {
    font-size: 900;
    background-color: rgb(173, 84, 173);
    color: 000;
}
.list-group-item.active {
    font-size: 900;
    background-color: rgb(173, 84, 173);
    color: 000;
    border-color: rgb(173, 84, 173);
}
.btn-outline-primary {
    --bs-btn-color: rgb(173, 84, 173);
    --bs-btn-border-color: rgb(173, 84, 173);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(173, 84, 173);
    --bs-btn-hover-border-color:rgb(173, 84, 173);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(173, 84, 173);
    --bs-btn-active-border-color:rgb(173, 84, 173);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:rgb(173, 84, 173);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color:rgb(173, 84, 173);
    --bs-gradient: none;
}